@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ff9253;
}

::-webkit-scrollbar-track {
  background: #c7c7c7;
}

body {
  background-color: #f6f6f6;
}

.lds-dual-ring {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.lds-dual-ring.customSpinner {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: 999;
}

.lds-dual-ring.customSpinner::after {
  width: 120px;
  height: 120px;
  border: 8px solid #fff;
  border-color: #ff9a60 transparent #ff9a60 transparent;
}

.lds-dual-ring.regularSpinner {
  width: 40px;
  height: 40px;
  margin: auto;
}

.lds-dual-ring.regularSpinner::after {
  width: 100%;
  height: 100%;
  border: 6px solid #fff;
  border-color: #ff9a60 transparent #ff9a60 transparent;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.shining {
  position: relative;
  overflow: hidden;
}
.shining:before {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  background-size: 20px 100%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: left -20px top 0;
  animation: shine 2s ease infinite;
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}

.isLoadingDiv:after {
  transition: 0.5s ease;
  content: "";
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  opacity: 0;
}

.isLoadingDiv.isLoading:after {
  opacity: 1;
}
